<p>Aggiungi Libro</p>

<div>
    <label>Titolo:
      <input [(ngModel)]="newBook.title" type="text" placeholder="title"/>
    </label>
    <label>ISBN:
      <input [(ngModel)]="newBook.isbn" type="text" placeholder="isbn"/>
    </label>
    <label>Autore:
      <input [(ngModel)]="newBook.author" type="text" placeholder="author"/>
    </label>
    <label>Editore:
      <input [(ngModel)]="newBook.publisher" type="text" placeholder="publisher"/>
    </label>
    <label>Data di pubblicazione:
      <input [(ngModel)]="newBook.publicationDate" type="date"  value="2020-04-26"
       min="1700-01-01" max="2023-12-31" placeholder="publicationDate"/> <br>
    </label>
    <br>
    <label>Copertina:
      <input [(ngModel)]="newBook.coverUrl" type="text" placeholder="coverUrl"/> <br>
    </label>
    <input (click)="add()" type="button" value="Aggiungi libro" />
</div>